*.ale
bin
*.check
*Dbg
Debug*
Release*
*.dll
*.err
*.csm
*.~*
*.r$p
*.tds
*.exe
*.html
*.il?
*.js
*.log
*.map
*.m?t
*.nds
*.obj
obj
obj-borland
out.bmp
*.rex
*.sdl
*.so
src/blocks_*.h
src/blocks_xpm.h
*.wasm
gmon.*
log.txt
*.ico
*.rc
